*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
  }

.cabeçalho {
    position: relative;
    height: 120px;
}

.logo-container {
    position: absolute;
    top: 5px;
}

.logo {
    width: 80px;
    height: auto;
    margin: 10px 40px;
}

h1 {
    padding: 34px 0;
    text-align: center;
    background-color: rgb(247, 222, 82);
}

h2 {
    margin: 0 80px;
    display: inline-block;
}

.links-receitas {
    margin: 20px;
    text-align: center;
}